
.dump {
  text-align: center;
  padding: 10px;
  font-size: larger;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

body,
.footer {
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background: rgb(239, 190, 92);
  position: relative;
  width: 100%;
  height: auto;

}

.contain {
  display: flex;
  margin-left: 100px;

}

.footer .col {
  width: 190px;
  height: auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h4 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: rgba(17, 17, 17, 0.237);
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.footer .col ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}

.social ul li {
  display: inline-block;
  margin-top: 14px;
  padding-right: 10px !important;
}

@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }

  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 800px) {

  .footer .col {
    width: 50%;
    margin-left: -30px;
    padding-left: 20px;

  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}

@media only screen and (max-width: 650px) {

  .footer .contain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;



  }

  .footer .col {
    width: 100%;

  }

  .footer .col h1 {
    font-size: 14px;
  }

  .footer .col ul li {
    font-size: 13px;
  }
}


@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
